{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
    <main>
        <a href="{% url 'index' %}">{% trans 'Back' %}</a>
        <article>
            <h1>{{ object.title }}</h1>
            <h3>{{ object.author }}</h3>
            <p>
                {{ object.content }}
            </p>
        </article>
        <a href="{% url 'updateArticle' pk=object.pk %}">{% trans 'Edit this article' %}</a>
        <a href="{% url 'deleteArticle' pk=object.pk %}">{% trans 'Delete this article' %}</a>
    </main>
</body>
</html>