{% load i18n %}
{% include 'head.html' %}
 <div class="formContainerParent">
        <div class="formContainer">
            {% if object.author.id == user.id %}
                <h1>{% trans 'Update article' %}</h1>
                <form action="" method="post" novalidate enctype='multipart/form-data'>{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="Update" />
                </form>
            {% else %}
                <h1>{% trans 'You are not the author of this article, and therefore are not allowed to edit it' %}</h1>
            {% endif %}
        </div>
 </div>
</body>
</html>