{% load i18n %}
{% include 'head.html' %}
    <main>
        <a class="btn btn-light" href="{% url 'index' %}">{% trans 'Back' %}</a>
        <article>
            <h1>{{ object.title }}</h1>
            <h3>{{ object.author }}</h3>
            <p>
                {{ object.content }}
            </p>
        </article>
        <a class="btn btn-info" href="{% url 'updateArticle' pk=object.pk %}">{% trans 'Edit this article' %}</a>
        <a class="btn btn-danger" href="{% url 'deleteArticle' pk=object.pk %}">{% trans 'Delete this article' %}</a>
    </main>
</body>
</html>