{% load i18n %}
{% include 'head.html' %}

        <article class="homePageContainer">
            <h1>{% trans 'Latest articles' %}</h1>
            {% for article in object_list reversed %}
                <div class="articleContainer">
                    <a class="articleContent" href="{% url 'article' pk=article.pk %}">
                        <article>
                            <h2>
                                {{ article.title }} - <i>{% trans 'by' %} {{ article.author }}</i>
                                <em class="articleDate">{{ article.created_at|date:"d M Y" }}</em>
                            </h2>
                            <p>
                                {{ article.content|truncatechars:50 }}
                            </p>
                        </article>
                    </a>
                </div>
            {% empty %}
                <li>No article available</li>
            {% endfor %}
        </article>
    </main>

</body>
</html>