{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>{% trans 'Home djangopress' %}</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'createArticle' %}">{% trans 'Create an article' %}</a>
    {% endif %}
    <ul>
    {% for article in object_list %}
        <li><a href="{% url 'article' pk=article.pk %}">{{ article.title }} ({{ article.content }})</a></li>
    {% empty %}
        <li>No article available</li>
    {% endfor %}
    </ul>
</body>
</html>