{% load i18n %}
{% include 'head.html' %}

<main class="profilePage">
    <h1>
        {% if user.first_name and user.last_name %}
            {% trans 'Articles from' %} {{ user.first_name }} {{ user.last_name }}
        {% else %}
            {% trans 'Articles from' %} {{ user }}
        {% endif %}
    </h1>

    <div class="profilePageContainer">
        {% for article in articles reversed %}
            <div class="articleContainer">
                <a class="articleContent" href="{% url 'article' pk=article.pk %}">
                    <article>
                        <h2>
                            {{ article.title }}
                            <em class="articleDate">{{ article.created_at|date:"d M Y" }}</em>
                        </h2>
                        <p>
                            {{ article.content|truncatechars:50 }}
                        </p>
                    </article>
                </a>
            </div>
        {% empty %}
            <li>No article found for this user</li>
        {% endfor %}
    </div>
</main>

</body>
</html>